body {
    background-color: #F0F0F0;
}
header {
    margin: 0;
}
a {
    color: black;
}
.logo {
    max-height: 105px;
    max-width: 105px;
    display: flex;
    justify-content: center;
    z-index: 2;
}
.beginning {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.text {
    display: flex;
    justify-content: center;
    text-align: center;
}
.whiteBox {
    position: absolute;
    top: 1.5em;
    height: 75px;
    width: 100%;
    background-color: white;
}
.circle {
    margin: 20px 0;
    height: 180px;
    width: 180px;
    border-radius: 50%;
    display: inline-block;
    background-color: white;
}